@import 'tailwindcss';

:root,
[data-theme='dark'] {
  --bg: #151518;
  --fg: #f2f2f2;
  --surface: color-mix(in srgb, var(--fg) 20%, transparent);
}

[data-theme='light'] {
  --bg: #ffffff;
  --fg: #232323;
  --surface: #e2e2e2;
}

@theme {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-surface: var(--surface);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-user-font, var(--font-pretendard)), sans-serif;
}
